@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

@font-face {
  font-family: "8BIT WONDER";
  src: url("/assets/8BITWONDERNominal.eot");
  src: url("/assets/8BITWONDERNominal.eot?#iefix") format("embedded-opentype"),
    url("/assets/8BITWONDERNominal.woff") format("woff"),
    url("/assets/8BITWONDERNominal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


html,
body,
#root,
.App {
  background: black;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Helvetica Neue";
  font-size: 3vw;
  
}
  
  .yellow {
    color: #f1c40f;
  }
  
  del {
    color: #e74c3c;
  }
  
  p {
    font-size: 1.2em;
    line-height: 1.5;
  }
  
  li {
    font-size: 1.3em;
    line-height: 1.5;
  }
  
  pre {
    font-size: 1.5vw;
    max-height: 100%;
    overflow: hidden;
  }
  

  .intro-container {
    margin: auto;
    width: 100%;
    max-width: 1024px;
    padding: 15% 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    justify-content: center; 
  }

  .intro {
    font-weight: 400;
    font-size: 70px;
    width: 100%;
    margin-right: 25%;
    margin-bottom: 10%;
  }

  .intro-text {
    width: 100%;
    margin-left: 25%;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #777;
  }

  .signin-signup { 
    margin: auto;
    width: 100%;
    max-width: 1024px;
    padding: 15% 0px;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center; 
  }
  
button {
  font-family: 'Dosis', sans-serif;
  font-size: 40px;
  letter-spacing: 5px;
  text-transform: uppercase;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0px 15px;
  cursor: pointer;
}

button:hover {
  background: #2a82a8;
  border-color: transparent;
}

.character-select {
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  letter-spacing: 5px;
  text-transform: uppercase;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin: 10px 15px 100px;
}

.character-option {
  padding: 10px 20px;
  border-top: 1px solid #fff;
}

.character-option:hover {
  background: #2a82a8;
}

.user-sign-in-container {
  display: grid;
  grid-template-columns: 400px 1fr;
}

.user-select-form button {
  width: 100%;
  font-size: 24px;
}

.user-right-show {

}

  .start {
    font-family: "8BIT WONDER";
    display: block;
    width: 400px;
    font-size: 24px;
    margin: -1% auto 0px;
    text-align: center;
    color: white;
  }
  
  .fade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    -webkit-transition: 500ms opacity linear;
    transition: 1s opacity linear;
    opacity: 0;
  }
  
  .fade.active {
    opacity: 1;
  }
  
  * {
    box-sizing: border-box;
  }
  